.confiteria-page {
  padding: 20px;
}

.confiteria-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.confiteria-item2 {
  background-color: #080808;
  width: 550px; 
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: inset 0 0 15px rgba(68, 67, 67, 0.5); 

}

.confiteria-item {
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.confiteria-item:hover {
  transform: translateY(-5px);
}

.confiteria-item2 img {
  padding: 10px;
  border-radius: 5px;
  width: 480px; 
  height: 350px; 
  object-fit: cover; 
}


.confiteria-item2 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
      color: rgb(231, 235, 247);
}



.confiteria-item2 h3 {
  margin-top: 10px;

}



.confiteria-item p {
  margin-bottom: 10px;
  color: rgb(224, 220, 233);
font-size: 30px;
}

.confiteria-item2 span {
  font-weight: bold;
  color: #968b8a;
  font-size: 30PX;
}

