.confiteria-page {
  padding: 20px;
}

.confiteria-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.confiteria-item2 {
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
 

}

.confiteria-item {
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
 

}

.confiteria-item2:hover {
  transform: translateY(-5px);
}

.confiteria-item:hover {
  transform: translateY(-5px);
}

.confiteria-item2 img {
  width: 100%;
  border-radius: 5px;
  width: 500px; /* ajusta el ancho deseado */
  height: 350px; /* ajusta la altura deseada */
  object-fit: cover; /* o ajusta a tus necesidades */
}

.confiteria-item img {
  width: 100%;
  border-radius: 5px;
  width: 500px; /* ajusta el ancho deseado */
  height: 350px; /* ajusta la altura deseada */
  object-fit: cover; /* o ajusta a tus necesidades */
}

.confiteria-item2 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
      color: rgb(211, 211, 211);
}

.confiteria-item h4 {
  margin-top: 10px;
  margin-bottom: 10px;
      color: rgb(211, 211, 211);
}

.confiteria-item2 h3 {
  margin-top: 10px;

}

.confiteria-item h3 {
  margin-top: 10px;

}

.confiteria-item2 p {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
font-size: 30px;
}

.confiteria-item p {
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
font-size: 30px;
}

.confiteria-item2 span {
  font-weight: bold;
  color: #ff401f;
  font-size: 30PX;
}

.confiteria-item span {
  font-weight: bold;
  color: #ff401f;
  font-size: 30PX;
}
