.aboutcontainer {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
 .aboutcontainer h1, h2, h3 {
    text-align: center;
  }
  
  .aboutcontainer p {
    text-align: center;
  }
  
  .team {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .teammember {
    text-align: center;
    flex: 1;
    margin: 0 10px;
  }
  
  .teamphoto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:  0 0 15px rgba(232, 231, 231, 0.5);
  }
  
  .footer {

    margin: 10px;
    display: flex;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 20px;
  }
  
  .footer li {
    margin: 10px ;
  }
  